[submodule "home/dot_config/mpv/submodules/eisa01_mpv_scripts"]
	path = home/dot_config/mpv/submodules/eisa01_mpv_scripts
	url = https://github.com/Eisa01/mpv-scripts

[submodule "home/dot_config/mpv/submodules/mpv_playlistmanager"]
	path = home/dot_config/mpv/submodules/mpv_playlistmanager
	url = https://github.com/jonniek/mpv-playlistmanager

[submodule "home/dot_config/mpv/submodules/occivink_mpv_scripts"]
	path = home/dot_config/mpv/submodules/occivink_mpv_scripts
	url = https://github.com/occivink/mpv-scripts

[submodule "home/dot_config/mpv/submodules/thumbfast"]
	path = home/dot_config/mpv/submodules/thumbfast
	url = https://github.com/po5/thumbfast

[submodule "home/dot_config/mpv/submodules/uosc"]
	path = home/dot_config/mpv/submodules/uosc
	url = https://github.com/tomasklaen/uosc

[submodule "home/dot_config/qutebrowser/catppuccin"]
	path = home/dot_config/qutebrowser/catppuccin
	url = https://github.com/trueNAHO/qutebrowser
	branch = dev
