#!/bin/sh

{{ template "install_packages.sh.tmpl" . }}
{{ template "status.sh.tmpl" . }}

install_packages_official bash fortune-mod neovim openssh xorg-xinit

# @url https://wiki.archlinux.org/title/SSH_keys#SSH_agents
# Use GPG key for SSH authentication.
if command -v systemctl >/dev/null 2>&1; then
    status "systemctl enable --now --user ssh-agent"
    systemctl enable --now --user ssh-agent
fi
