#!/bin/sh

{{ template "install_packages.sh.tmpl" . }}

install_packages_aur inputplug leftwm

install_packages_official \
    awesome \
    picom \
    redshift \
    sxhkd \
    xorg-xinit \
    xorg-xset \
    xss-lock
