#!/bin/sh

{{ template "install_packages.sh.tmpl" . }}

install_packages_aur \
    bibata-cursor-theme \
    bibata-cursor-translucent \
    bibata-extra-cursor-theme \
    bibata-rainbow-cursor-theme \
    phinger-cursors

install_packages_official xorg-xrdb
