#!/bin/sh

{{ template "install_packages.sh.tmpl" . }}
{{ template "status.sh.tmpl" . }}

install_packages_aur alacritty-ligatures-git
install_packages_official bash bash-completion bat neovim pkgfile

# @url https://wiki.archlinux.org/title/Pkgfile
# Update the pkgfile database and start the systemd timer for automatically
# synchronizing the pkgfile database.
if command -v sudo >/dev/null 2>&1 && sudo -v && \
    command -v pkgfile >/dev/null 2>&1; then
    status "sudo pkgfile -u"
    sudo pkgfile -u

    if command -v systemctl >/dev/null 2>&1; then
        status "sudo systemctl enable --now pkgfile-update.timer"
        sudo systemctl enable --now pkgfile-update.timer
    fi
fi
