#!/usr/bin/env bash
# shellcheck disable=all

{{ template "lib/variables/tmp_directory" }}

# Create a clean `$tmp_directory` directory.
[[ -d "$tmp_directory" ]] && rm -fr "$tmp_directory"
mkdir -p "$tmp_directory"
