#!/bin/sh

{{ template "install_packages.sh.tmpl" . }}

install_packages_aur esh eww-x11-git leftwm
install_packages_official bash

leftwm_themes_dir="${XDG_CONFIG_DIR:-$HOME/.config}/leftwm/themes"

ln --force --symbolic "$leftwm_themes_dir/naho" "$leftwm_themes_dir/current"
