#!/bin/sh

{{ template "install_packages.sh.tmpl" . }}
{{ template "status.sh.tmpl" . }}

install_packages_official xdg-user-dirs

# Creating a full suite of localized default user directories within the $HOME
# directory.
status "xdg-user-dirs-update"
xdg-user-dirs-update
