#!/bin/sh

{{ template "install_packages.sh.tmpl" . }}

install_packages_aur dmenu2 leftwm

install_packages_official \
    alacritty \
    brightnessctl \
    maim \
    pass \
    pass \
    qutebrowser \
    sxhkd \
    systemd \
    wireplumber \
    xclip
