// https://github.com/zellij-org/zellij/issues/735
keybinds clear-defaults=true {
    normal {
        bind "Alt 1" { GoToTab 1; SwitchToMode "normal"; }
        bind "Alt 2" { GoToTab 2; SwitchToMode "normal"; }
        bind "Alt 3" { GoToTab 3; SwitchToMode "normal"; }
        bind "Alt 4" { GoToTab 4; SwitchToMode "normal"; }
        bind "Alt 5" { GoToTab 5; SwitchToMode "normal"; }
        bind "Alt 6" { GoToTab 6; SwitchToMode "normal"; }
        bind "Alt 7" { GoToTab 7; SwitchToMode "normal"; }
        bind "Alt 8" { GoToTab 8; SwitchToMode "normal"; }
        bind "Alt 9" { GoToTab 9; SwitchToMode "normal"; }
        bind "Alt D" { Detach; }
        bind "Alt H" { Resize "Decrease"; }
        bind "Alt J" { MovePaneBackwards; }
        bind "Alt K" { MovePane; }
        bind "Alt L" { Resize "Increase"; }
        bind "Alt Q" { CloseFocus; SwitchToMode "normal"; }
        bind "Alt W" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
        bind "Alt X" { SwitchToMode "locked"; }
        bind "Alt c" { NewTab; SwitchToMode "normal"; }
        bind "Alt e" { EditScrollback; SwitchToMode "normal"; }
        bind "Alt f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "Alt h" { GoToPreviousTab; }
        bind "Alt j" { FocusNextPane; }
        bind "Alt k" { FocusPreviousPane; }
        bind "Alt l" { GoToNextTab; }
        bind "Alt n" { NextSwapLayout; }
        bind "Alt p" { PreviousSwapLayout; }
        bind "Alt t" { NewPane; SwitchToMode "normal"; }
        bind "Alt w" { ToggleFloatingPanes; SwitchToMode "normal"; }
    }
    locked {
        bind "Esc" { SwitchToMode "normal"; }
    }
}

plugins {
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
simplified_ui true

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "fish"

// Choose the path to override cwd that zellij will use for opening new panes
//
// default_cwd ""

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
// pane_frames true

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
// auto_layout true

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
// themes {
//     dracula {
//         fg 248 248 242
//         bg 40 42 54
//         red 255 85 85
//         green 80 250 123
//         yellow 241 250 140
//         blue 98 114 164
//         magenta 255 121 198
//         orange 255 184 108
//         cyan 139 233 253
//         black 0 0 0
//         white 255 255 255
//     }
// }

// Choose the theme that is specified in the themes section.
// Default: default
//
theme "catppuccin-mocha"

// The name of the default layout to load on startup
// Default: "default"
//
default_layout "compact"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
// default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
// mouse_mode false

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
scroll_buffer_size 100000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"
