@import "../../styles/_window-workspace-index-bar-box";

.window-workspace-index-bar {
  background-color: $background;
  font-family: $font-family-mono;
  font-weight: Bold;
}

.window-workspace-index-bar-center {
}

.window-workspace-index-bar-controls {
  @include window-workspace-index-bar-box;
}

.window-workspace-index-bar-time {
  @include window-workspace-index-bar-box;
}

.window-workspace-index-bar-workspaces {
  @include window-workspace-index-bar-box;
}
