[Unit]
Description=swhkd hotkey daemon
BindsTo=default.target

# https://stackoverflow.com/questions/62283235
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html#Specifiers
[Service]
Type=simple
ExecStart=%Y/scripts/swhkd.sh
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
