@import "../../styles/_big-text";

.widget-workspaces {
  @include big-text;
}

.widget-workspaces-button {
  color: $gray;
}

.widget-workspaces-button-busy {
  color: $blue;
}

.widget-workspaces-button-mine {
  color: $yellow;
}

.widget-workspaces-button-urgent {
  background-color: $red;
}

.widget-workspaces-button-visible {
  color: $yellow;
}
